
.bg-gray {
    background-color: #EFEFEF;
}

.bg-darken-1 {
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-darken-2 {
    background-color: rgba(0, 0, 0, 0.1);
}

.bg-selected {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
