
.flex {
    display: flex;
}

.none {
    display: none;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.grow {
    flex-grow: 1;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.gap-30 {
    gap: 30px;
}

.gap-40 {
    gap: 40px;
}

.gap-50 {
    gap: 50px;
}