
.table {
    display: table;
    table-layout: fixed;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.table-row > .table-cell:last-child {
    border-right: none;
}

.table-row:last-child .table-cell {
    border-bottom: none;
}
